body{
    background-color: rgb(179, 250, 250);
}
h1{
    color: rgb(232, 184, 125);
    text-align: center;
    text-decoration: underline;
}
.division{
    border: white solid 2px;
    background-color: white;
    padding: 10px;
    gap: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.first-children{
    border: rgb(13, 217, 13) solid 2px;
}
.second-class{
    border: yellow solid 2px;
}
#p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}